{:output-to "target/public/cljs-out/myapp.js"
 :output-dir "target/public/cljs-out/"
 :optimizations :advanced
 :main ion-starter.core
 :source-map-timestamp true
 :source-map "target/public/cljs-out/myapp.js.map"}